body {
    background-color: azure;
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
}

h1 {
    color:cornflowerblue;
    font-family: monospace;
    font-size: 70px;
    text-align: center;
}

h3 {
    color: goldenrod;
}

.boton {
    color: white;
    font-size: 15px;
    width: 15%;
    height: 40px;
    margin: 5% 80% 5% 80%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
}